body.auth-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
    background: var(--bgColor);
    background-image: url(/src/assets/images/background-img/dusk.jpg);
    background-size: cover;
    transition: all 0.3s;
}

body.auth-page.show-password {
    --bgColor: rgba(0, 0, 0, 0.9);
    --inputColor: white;
    --border: rgb(255, 255, 255);
    background-image: url(/src/assets/images/background-img/setting-sun.jpg);
    background-size: cover;
}
